#!/bin/sh

# Primary login used by this program
# Leave password empty to be asked for it.
export USER="root"
export PASS="dupa.8"

# Location of racadm binary
RACADM="/opt/dell/srvadmin/bin/idracadm7"

# If you do not have Drac Tools installed or macOS use Docker
# RACADM="docker run --rm innogames/idrac7adm /opt/dell/srvadmin/bin/idracadm7"

# Deployment of various things

# password change
export DEP_ROOTID="2"
export DEP_CHPASS="newpassword"

# base deployment
if [ "$DC" = "somedc" ]; then
    export DEP_NTP1="10.42.0.1"
    export DEP_NTP2="10.42.0.2"
    export DEP_SYSLOG="10.42.0.3"
elif [ "$DC" = "otherdc" ]; then
    export DEP_NTP1="10.42.1.1"
    export DEP_NTP2="10.42.1.2"
    export DEP_SYSLOG="10.42.1.3"
fi


# Time zone
DEP_TIMEOFFSET=0
DEP_DAYLIGHTOFFSET=0

#  monitorig user
export DEP_MONUSER="monuser"
export DEP_MONPASS="monpass"
export DEP_MONID="3" # Id of user to be configured

